# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
env/
ENV/
.venv
.venv_linux
poetry.toml

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/
*.pot

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Git
.git/
# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# CI/CD
.gitlab-ci.yml

# Others
*.bak
*.tmp
get-pip.py
src/celerybeat-schedule
.venv_linux/


